<div id="owner_nav" align="right" >
  <% if owner_signed_in? %> Signed in as <%= current_owner.email %> <br>
     Not you? <%= link_to "Sign out", destroy_owner_session_path, :method => :delete %>
  <% else %>
   <%= link_to "Sign up", new_owner_registration_path %> or <%= link_to "sign in", new_owner_session_path %>
  <% end %>
</div>

<h1>Restaurants Directory</h1>

   <table>
      <tr>
         <th>Name</th>
         <th>Address</th>
         <th>Phone</th>
         <th>Description</th>
      </tr>

      <% @restaurant.each do |restaurant| %>
         <tr>
            <td><%= restaurant.name %></td>
            <td><%= restaurant.address %></td>
			   <td><%= restaurant.phone %></td>
			   <td><%= restaurant.description %></td>
            <td><%= image_tag restaurant.photo, :size => "300x250" %></td>
			   <td><%= link_to 'Show', restaurant_path(restaurant) %></td>
			   <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
			   <td><%= link_to 'Destroy', restaurant_path(restaurant), method: :delete, data: { confirm: 'Are you sure?' } %></td>
         </tr>
      <% end %>
   </table>

   <%= link_to 'New Restaurant', new_restaurant_path, class: "button radius" %>
